@mixin size-day {
  width: $width-day;
  height: $height-day;
}

@mixin width-calendar() {
  width: calc(7 * ($width-day + $gap-day) - $gap-day);
}

@each $day, $index in $days {
  .calendar--start-day-#{$day} .calendar__day:first-child {
    margin-left: calc((#{$index} - 1) * ($width-day + $gap-day));
  }
}

@for $length from 28 to 31 {
  .calendar--month-length-#{$length}
    .calendar__day:nth-child(n + #{$length + 1}) {
    display: none;
  }
}
